/* INFO: do NOT add golbal styles here, only styles that affects
 *       or relates to App childrens, if it affects Navbar or
 *       other root-level components, it goes into styles.css*/
.viewbox {
  margin-top: var(--bulma-navbar-height);
  /* height: var(--view-height); */
  min-height: var(--view-height);
  /* height: 100vh; */
  overflow: scroll;
}

.viewbox-column-dobby {}

.viewbox-column-cloche {}

.viewbox-column-interaction {}

.viewbox-level-item-interaction {
  min-height: var(--interaction-view-height);
}

/* @media screen and (width <= var(--tablet)) { */
@media screen and (width <= 769px) {
  .viewbox-column-dobby {
    /* min-height: calc(calc(var(--view-height) / 10) * 3); */
    min-height: var(--dobby-view-height);
  }
  .viewbox-column-cloche {
    /* min-height: calc(calc(var(--view-height) / 10) * 1); */
    min-height: var(--cloche-button-view-height);
  }
  .viewbox-column-interaction {
    /* min-height: calc(calc(var(--view-height) / 10) * 5.9); */
    min-height: var(--interaction-view-height);
  }
}

