:root {
  font-family: Oswald, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mobile: 768px;
  --tablet: 769px;
  --desktop: 1024px;
  --widescreen: 1216px;
  --fullhd: 1408px;

  --view-height: calc(100vh - var(--bulma-navbar-height));

  --dobby-view-height: calc(calc(var(--view-height) / 10) * 3);
  --cloche-button-view-height: calc(calc(var(--view-height) / 10) * 1);
  --interaction-view-height: calc(calc(var(--view-height) / 10) * 5.8);
}

/* INFO: GLOBAL styles, affecting/related to BOTH Navbar and App components */
.oswald-font {
  font-family: Oswald, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

figure, img {
  touch-action: manipulation !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: white;
  }
}
